.fileBtn {
  width: 60px;
  height: 35px;
  background: rgb(238,238,238);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgb(77,77,77);
    color: #fff;
  }
}

#fileInput {
  display: none;
}